<div class="footer mt-5 footer-pink text-light text-center p-3">   
  <nav class="nav">
    <a class="nav-link text-light" href="/">Home</a>
    <a class="nav-link text-light" href="{% url 'myapp-about' %}">About Us</a>
    <a class="nav-link text-light" href="{% url 'myapp-contact' %}">Contact</a>
    <a class="nav-link text-light" href="{% url 'myapp-learn-experts' %}">Learn from Experts</a>
    <a class="nav-link text-light" href="{% url 'myapp-learn-experts' %}">Gov. Help</a>
    <a class="nav-link text-light" href="{% url 'myapp-learn-experts' %}">What Sould do and Eat.</a>
    <a class="nav-link text-light" href="{% url 'myapp-learn-experts' %}">Firt ADD</a>
    <a class="nav-link text-light" href="{% url 'myapp-learn-experts' %}">Awareness</a>
  </nav>
  <p>&copy; 2024-2025.</p>
</div>
